.app_navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--color-white);
    flex-direction: row;


}
.p_opensans{
    margin: 5rem;
}

.app_navbar-logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.navbar_icon{
    font-size: 1.3rem;
    max-width: 100%;
    height: auto;
    
            
}

.app_navbar-logo h1{
    width: 150px;
    font-size: 2rem;
    font-weight: 700;
}

.app_navbar-links{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.app_navbar-links li{
    margin: 0 1.5rem;
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--color-grey);
    text-decoration: none;
    
}

.app_navbar-links li:hover{
    color: #EB1D36;
    text-decoration: underline;
    border-bottom-width: 2rem;
    padding-bottom: 10px;
    border-bottom: 3px solid;
    line-height: .8rem;
  

}

.mobile-menu-icon{
    display: none;
}

@media screen and (max-width: 780px){
    .app_navbar-logo{
        display: flex;
        position: absolute;
        top: 15px;
        left: 10%;
    }
.app_navbar-links{
    display: none;
}
.app__navbar-login{
    display: none;
}
.nav-links-mobile{
    position: absolute;
    display: block;
    list-style: none;
    background-color: var(--color-white);
    left: 0;
    width: 50%;
    top: 60px;
    transition: all 0.5s ease-out;
    
}

.p_opensans{
    color: var(--color-grey);
    text-align: center;
    padding: 32px;
    width: 100%;
    transition: all 0.5s ease;

}
.mobile-menu-icon{
    display: block;
    position: absolute;
    font-size: 30px;
    color: var(--color-grey);
    background-color: var(--color-white);
    border: none;
    outline: none;
    top: 15px;
    right: 25px;
}

}